
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

*,
::after,
::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    line-height: 2;
    color: hsl(209, 61%, 16%);
}

h1{
    font-size: 3.6rem;
}

h3{
    font-size: 2rem;
    letter-spacing: 0.1rem;
}

h1,
h3{
    line-height: 1;
}

img {
    display: block;
    width: 100%;
}

.hero{
    background: url('hero.jpeg');
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.container{
    background-color: white;
    padding: 3.5rem 0;
    border-radius: 0.5rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    width: 90vh;
    text-align: center;
    max-width: 620px;
}

.btn-modal{
    background-color: #49a6e9;
    color: white;
    border: none;
    padding: 0.5rem 0.75rem;
    border-radius: 0.4rem;
    margin-top: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

.btn-modal:hover{
    background-color: transparent;
    border: 2px solid #49a6e9;
    color: #49a6e9;
    transition: all 0.3s linear;
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display:grid;
    place-items: center;
    background: rgba(73, 166, 233, 0.5);
    transition: all 0.3s linear;
    visibility: hidden; 

}

.modal-container{
    background-color: white;
    padding: 3rem 5rem;
    border-radius: 0.5rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    width: 90vh;
    height: 190px;
    display: grid;
    place-items: center;
    position: relative;
}

.close-btn{
    position: absolute;
    background-color: transparent;
    border: none;
    color: rgb(155, 35, 35);
    font-size: 1.75rem;
    cursor: pointer;
    transition: all 0.3s linear;
    cursor: pointer;
    right: 1rem;
    top: 1rem;
}

.close-btn:hover{
    color:hsl(360, 71%, 66%); 
    transform: scale(1.2);
}

.show-modal{
    visibility: visible;
}
